# Зависимости (они весят тонну, их не грузят)
node_modules/
*/node_modules/

# Секретные ключи (НИКОГДА не грузи это)
.env
server/.env
client/.env

# Системные файлы
.DS_Store

# Сборки
dist/
build/